.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar-table {
    border-collapse: collapse;
}

.calendar-table td {
    border: 1px solid #888888;
    height: 100px;
    vertical-align: top;
}

.calendar-table th {
    border: 1px solid #888888;
    background-color: #EEEEEE;
    height: 30px;
}

.calendar-element {
    font-size: 16px;
    width: 80px;
    padding: 4px 4px 0px 8px;
}

.calendar-holiday {
    background-color: #FFCCCC;
    color: #CC0000;
}

.calendar-sunday {
    background-color: #FFCCCC;
    color: #CC0000;
}

.calendar-saturday {
    background-color: #CCFFFF;
    color: #0000CC;
}

.calendar-empty {
    background-color: #b8bbbb;
    opacity: 0.2;
}

.calendar-day-info {
    display: flex;
    height: 30px;
    width: 80px;
}

.calendar-holiday-name {
    margin-left: 4px;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.calendar-schedule {
    height: 60px;
    width: 80px;
}

.calendar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 5px 0px;
}

.calendar-title .button-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.calendar-title > div {
    min-height: 50px;
}

.info-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-date .date-year {
    font-size: 14px;
}

.info-date .date-month {
    margin-top: -5px;
    font-size: 26px;
}

.button-prev {
    color: #BBBBBB;
}

.button-prev:hover {
    cursor: pointer;
}

.button-next {
    color: #BBBBBB;
}

.button-next:hover {
    cursor: pointer;
}

.fa-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  button {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
  }

  td.calendar-selected-date {
      background-color: #F0E68C;
  }