.calendar-schedule ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.calendar-schedule li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.calendar-schedule li:not(:nth-child(3)) {
    padding-left: 3px;
    background-color: #EBC3E8;
    border: 1px solid black;
    border-radius: 0.5em;
    margin-bottom: 2px;
}

.calendar-schedule li:nth-child(3) {
    text-align: right;
    border: none;
}

.container {
    display: flex;
}

.container .calendar {
    margin-left: 50px;
}

.container .vertical-partition {
    margin-left: 40px;
    border: 1px solid #C0C0C0;
    width: 1px;
    background-color: #C0C0C0;
}

.container .schedule-list-area {
    margin: 30px 0px 0px 60px;
}

.schedule-list-fulldate {
    font-size: 24px;
    margin-bottom: 30px;
}

.schedule-list-content  form {
    display: flex;
    flex-direction: column;
}

.schedule-list-content  label {
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.schedule-list-content {
    position: relative;
}

.schedule-button-container {
    position: relative;
}

.schedule-item {
    display: flex;
    align-items: center;
    height: 30px;
}

.schedule-progress-0 {

    border: 1px solid #C0C0C0;
    width: 150px;
    height: 80%;
    color: #888686;
    padding-left: 10px;
}

.schedule-progress-30 {

    border: 1px solid #C0C0C0;
    background-image: linear-gradient(to right, #DDFFDD 0% 30%, white 30% 100%);
    width: 150px;
    height: 80%;
    color: #888686;
    padding-left: 10px;
}

.schedule-progress-60 {

    border: 1px solid #C0C0C0;
    background-image: linear-gradient(to right, #DDFFDD 0% 60%, white 60% 100%);
    width: 150px;
    height: 80%;
    color: #888686;
    padding-left: 10px;
}

.schedule-progress-100 {

    border: 1px solid #C0C0C0;
    background-color: #DDFFDD;
    width: 150px;
    height: 80%;
    color: #888686;
    padding-left: 10px;
}